.flex{
    display: flex;

    &_jc_c{
        justify-content: center;
    }

    &_jc_sb{
        justify-content: space-between;
    }

    &_ai_c{
        align-items: center;
    }
    
}